*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: brown;
    color:white;
    padding:10px;
  }
  
  button {
    display: none;
    background-image: url("../../assets/img/menu-svgrepo-com.svg");
    background-size:70% ;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height:50px;
    border-radius: 50%;
    border:2px solid white;
  }
  button:hover{
    box-shadow: 4px 4px 4px #333;
    cursor:pointer;
  }
  
  ul {
    display: flex;
    flex-direction: row;
  }
  
  li {
    padding: 10px;
    list-style: none;
  }
  .link{
    text-decoration: none;
    color:white;
  }
  .link:hover{
    border-bottom: 2px solid white;
    transition:0.3s;
  }
  
  @media (max-width: 768px) {
    button {
      display: block;
    }
  
    ul {
      display: none;
    }
  
    ul.open {
      display: flex;
      flex-direction: column;
    }
  }